<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.modelexecution.xmof.Syntax.Classes.Kernel.presentation.KernelModelWizardID"
            name="%_UI_KernelModelWizard_label"
            class="org.modelexecution.xmof.Syntax.Classes.Kernel.presentation.KernelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/KernelModelFile.gif">
         <description>%_UI_KernelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.modelexecution.xmof.Syntax.Classes.Kernel.presentation.KernelEditorID"
            name="%_UI_KernelEditor_label"
            icon="icons/full/obj16/KernelModelFile.gif"
            extensions="xmof"
            class="org.modelexecution.xmof.Syntax.Classes.Kernel.presentation.KernelEditor"
            contributorClass="org.modelexecution.xmof.Syntax.Classes.Kernel.presentation.KernelActionBarContributor">
      </editor>
   </extension>

</plugin>
