<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="This is the diagram type for xMOF models."
            id="org.modelexecution.xmof.diagram.XMOFDiagramType"
            name="xMOF Diagram Type"
            type="xMOF">
      </diagramType>
   </extension>
   
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.modelexecution.xmof.diagram.XMOFDiagramTypeProvider"
            description="Diagram editor for xMOF models"
            id="org.modelexecution.xmof.diagram.xMOFDiagramTypeProvider"
            name="xMOF Diagram Editor">
         <diagramType
               id="org.modelexecution.xmof.diagram.XMOFDiagramType">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   
   <extension
    point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor contributorId="xMOF.PropertyContributor">
        <propertyCategory category="Graphiti"> 
        </propertyCategory> 
    </propertyContributor> 
   </extension>
       
   <extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    <propertyTabs
          contributorId="xMOF.PropertyContributor">
    <propertyTab
         category="Graphiti"
         id="graphiti.main.tab"
          label="Main">
    </propertyTab>
   </propertyTabs>
   </extension>
     
   <extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="xMOF.PropertyContributor">
        <propertySection
              class="org.modelexecution.xmof.diagram.property.ActionSection"
              filter="org.modelexecution.xmof.diagram.property.ActionFilter"
              id="graphiti.main.tab.emfclass"
              tab="graphiti.main.tab">
        </propertySection>
    </propertySections>
   </extension>
   
</plugin>