<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="This is the diagram type for xMOF models."
            id="org.modelexecution.xmof.diagram.XMOFDiagramType"
            name="xMOF Diagram Type"
            type="xMOF Diagram">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.modelexecution.xmof.diagram.XMOFDiagramTypeProvider"
            description="Diagram editor for xMOF models"
            id="org.modelexecution.xmof.diagram.xMOFDiagramTypeProvider"
            name="xMOF Diagram Editor">
         <diagramType
               id="org.modelexecution.xmof.diagram.XMOFDiagramType">
         </diagramType>
      </diagramTypeProvider>
   </extension>

</plugin>
