<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fumltesting.presentation.FumltestingModelWizardID"
            name="%_UI_FumltestingModelWizard_label"
            class="fumltesting.presentation.FumltestingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FumltestingModelFile.gif">
         <description>%_UI_FumltestingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="fumltesting.presentation.FumltestingEditorID"
            name="%_UI_FumltestingEditor_label"
            icon="icons/full/obj16/FumltestingModelFile.gif"
            extensions="fumltesting"
            class="fumltesting.presentation.FumltestingEditor"
            contributorClass="fumltesting.presentation.FumltestingActionBarContributor">
      </editor>
   </extension>

</plugin>
