<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.modelexecution.fumldebug.debugger.uml2.ad.activityProviderFactory"
         name="UML2 AD Activity Provider Factory"
         point="org.modelexecution.fumldebug.debugger.activityProviderFactory">
      <activityProviderFactory
            activityProviderFactoryClass="org.modelexecution.fumldebug.debugger.uml2.provider.UML2ActivityProviderFactory">
      </activityProviderFactory>
   </extension>

</plugin>
