<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://XMOF_LIBRARY/"
            target="platform:/plugin/org.modelexecution.xmof.standardlibrary/library/">
      </mapping>
   </extension>
   <extension
         point="org.modelexecution.fuml.library">
      <library
            description="Provides primitive Integer functions for xMOF"
            name="xMOF Integer Function Library"
            path="http://xmofstandardlibrary/1.0/primitivebehaviors/integerfunctions"
            provider="Business Informatics Group, TU Wien">
      </library>
   </extension>
   <extension
         point="org.modelexecution.fuml.libraryregistry">
      <libraryregistry
            class="org.modelexecution.xmof.standardlibrary.StandardLibraryRegistry">
      </libraryregistry>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xmof_library -->
      <package
            uri="http://xmofstandardlibrary/1.0/primitivebehaviors/integerfunctions"
            class="org.modelexecution.xmof.standardlibrary.XMOF.PrimitiveBehaviors.IntegerFunctions.IntegerFunctionsPackage"
            genModel="model-gen/xmof_library.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xmof_library -->
      <package
            uri="http://xmofstandardlibrary/1.0/primitivebehaviors/listfunctions"
            class="org.modelexecution.xmof.standardlibrary.XMOF.PrimitiveBehaviors.ListFunctions.ListFunctionsPackage"
            genModel="model-gen/xmof_library.genmodel"/>
   </extension>
   <extension
         point="org.modelexecution.fuml.library">
      <library
            description="Provides primitive list functions available for xMOF"
            name="xMOF List Function Library"
            path="http://xmofstandardlibrary/1.0/primitivebehaviors/listfunctions">
      </library>
   </extension>
</plugin>
