<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://testlang"
            class="testlang.TestlangPackage"
            genModel="model/testlang.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="testlang"
            class="testlang.util.TestlangResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/uml2/4.0.0/Types"
            class="types.TypesPackage"
            genModel="model/testlang.genmodel"/>
   </extension>

</plugin>
