<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2014 Vienna University of Technology.
 All rights reserved. This program and the accompanying materials are made 
 available under the terms of the Eclipse Public License v1.0 which accompanies 
 this distribution, and is available at http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
 Tanja Mayerhofer - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated fUML_values_uml -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.modelexecution.fuml.trace.uml2.fuml.Semantics.Classes.Kernel.presentation.KernelModelWizardID"
            name="%_UI_KernelModelWizard_label"
            class="org.modelexecution.fuml.trace.uml2.fuml.Semantics.Classes.Kernel.presentation.KernelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/KernelModelFile.gif">
         <description>%_UI_KernelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated statesmodel -->
      <editor
            id="org.modelexecution.fuml.trace.uml2.statesmodel.presentation.StatesmodelEditorID"
            name="%_UI_StatesmodelEditor_label"
            icon="icons/full/obj16/StatesmodelModelFile.gif"
            extensions="statesmodel"
            class="org.modelexecution.fuml.trace.uml2.statesmodel.presentation.StatesmodelEditor"
            contributorClass="org.modelexecution.fuml.trace.uml2.statesmodel.presentation.StatesmodelActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tracemodel_uml -->
      <editor
            id="org.modelexecution.fuml.trace.uml2.tracemodel.presentation.TracemodelEditorID"
            name="%_UI_TracemodelEditor_label"
            icon="icons/full/obj16/TracemodelModelFile.gif"
            extensions="tracemodel"
            class="org.modelexecution.fuml.trace.uml2.tracemodel.presentation.TracemodelEditor"
            contributorClass="org.modelexecution.fuml.trace.uml2.tracemodel.presentation.TracemodelActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated fUML_values_uml -->
      <editor
            id="org.modelexecution.fuml.trace.uml2.fuml.Semantics.Classes.Kernel.presentation.KernelEditorID"
            name="%_UI_KernelEditor_label"
            icon="icons/full/obj16/KernelModelFile.gif"
            extensions="kernel"
            class="org.modelexecution.fuml.trace.uml2.fuml.Semantics.Classes.Kernel.presentation.KernelEditor"
            contributorClass="org.modelexecution.fuml.trace.uml2.fuml.Semantics.Classes.Kernel.presentation.KernelActionBarContributor">
      </editor>
   </extension>

</plugin>
